/* custom-datepicker.css */
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
  max-width: 256px;
}

.react-datepicker__input-container input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  outline: none;
  padding: 0;
}

.react-datepicker__input-container input::placeholder {
  color: #cccccc;
}

.react-datepicker-popper {
  z-index: 9999;
}

.react-datepicker__header {
  background-color: black;
  border-bottom: 1px solid white;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: black;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  color: white;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: white;
  color: black;
}

.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
  color: #666666;
}
